<h1>Lillian Ng</h1>
<p>Aspiring software developer based in Seattle, WA</p>
<h2>Current activities</h2>
<ul>
  <li>Learning Ruby on Rails at <a href="http://www.codefellows.org">Code Fellows</a></li>
  <li>Chairman of <a href="http://www.aoefoundation.org">A.O.E. National Foundation</a></li>
</ul>
<h2>Connect with me</h2>
<ul>
  <li><a href="http://www.linkedin.com/in/lilliankng/">LinkedIn</a></li>
  <li><a href="http://github.com/orangeninjamidget">GitHub</a></li>
  <li><a href="http://www.twitter.com/Lillian_Ng">Twitter</a></li>
</ul>
