<section class="section_main">
  <div class="row">
    <div class="twelve columns">


        <h3>Editing project</h3>

        <%= render 'form' %>

        <%= link_to 'Cancel Changes', @project %> |
        <%= link_to 'Back to Portfolio', projects_path %> |
        <%= link_to 'Delete Project', @project, method: :delete, data: {confirm: 'Are you sure?'} %>

    </div>
  </div>
</section>
