<%= render 'layouts/sectionstart' %>

  <h3>Portfolio of My Projects</h3>

  <ul id="projects">
    <%= render @projects %>
  </ul>

  <%= link_to 'New project', new_project_path, id: "new_link", remote: true if current_user.present? %>

<%= render 'layouts/sectionend' %>
