<section class="section_main">
  <div class="row">
    <div class="twelve columns">

        <h2>New project</h2>

        <%= render 'form' %>

        <%= link_to 'Back to Portfolio', projects_path %>

    </div>
  </div>
</section>
