<section class="section_main">
  <div class="row">
    <div class="twelve columns">

        <h3><%= @project.name %></h3>

        <p>Technologies used: <%= @project.technologies_used %></p>

        <p>Description: <%= @project.description %></p>

        <%= link_to 'Back to Portfolio', projects_path %>

    </div>
  </div>
</section>
