<section class="section_main">
  <div class="row">
    <div class="twelve columns">

      <h3>New post</h3>

      <%= render 'form' %>

      <%= link_to 'Back', posts_path %>

    </div>
  </div>
</section>
