<nav>

     <div class="twelve columns header_nav">
     <div class="row">

        <ul id="menu-header" class="nav-bar horizontal">

          <li class=""><a href="<%= root_path %>">Home</a></li>
          <li class=""><a href="<%= root_path %>#aboutme">About Me</a></li>
          <li class=""><a href="<%= projects_path %>">Projects</a></li>
          <li class=""><a href="<%= posts_path %>">Blog</a></li>
          <li class=""><a href="#connect">Connect</a></li>
        </ul>

        <script type="text/javascript">
         //<![CDATA[
         $('ul#menu-header').nav-bar();
          //]]>
        </script>

      </div>
      </div>

</nav>
